<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="template1"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="container mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Authentification</h3>
                </div>
                <div class="card-body">
                    <div th:if="${param.error}" class="alert alert-danger">Bad credentials</div>
                    <form th:action="@{loginPage}" method="post" class="form-group">
                            <label class="control-label">Username : </label>
                            <input type="text" name="username"> <br/>
                            <label class="control-label">Password : </label>
                            <input type="password" name="password"> <br/>
                            <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>